<template>
  <q-layout view="hHh lpR fFr">
    <q-page-container>
        <q-page>
            <div class="login" v-if="isLogado == false">
                <div class="content-login ">
                    <header class="row">
                        <div class="col-md-12">
                            <h4 class="text-title">Login Tombs Map</h4>
                        </div>
                        <div class="col-md-12">
                            <div class="alert alert-danger" role="alert" v-if="error">
                            {{error}}
                            </div>
                        </div>
                        
                    </header>
                    <div class="q-pa-md">
                            <q-input color="accent" v-model="email" rounded outlined  type="email" hint="Email" />
                            <q-input color="accent" v-model="password" rounded outlined  :type="isPwd ? 'password' : 'text'" hint="Senha">
                                <template v-slot:append>
                                    <q-icon :name="isPwd ? 'visibility_off' : 'visibility'"  class="cursor-pointer" @click="isPwd = !isPwd" />
                                </template>
                            </q-input>
                    </div>
                    <button class="btn btn-submit-form" @click="login">Enviar</button>
                </div>
            </div>
            <div v-else>
                <q-dialog v-model="isLogado" persistent>
                    <q-card>
                        <q-card-section class="row items-center">
                            <span class="q-ml-sm">Você já está logado, deseja sair ?</span>
                        </q-card-section>
                        <q-card-actions align="center">
                            <button class="btn" @click="logout">Sim</button>
                            <button class="btn">Cancelar</button>
                        </q-card-actions>
                    </q-card>
                </q-dialog>
            </div>
        </q-page>
    </q-page-container>
    <Footer :register="true"/>
  </q-layout>
</template>

<script>
import Footer from '../../Components/Footer'
import axios from 'axios'
import { mapMutations } from 'vuex'
import router from '../../router'

export default{
    components: {Footer},
    name: 'LoginComponent',
    data(){
        return{
            right: false,
            isPwd: true,
            password:'',
            email:'',
            isLogado: false,
            error: null
        }
    },
    methods: {
        ...mapMutations([
            'setUsuario',
            'setToken',
            'setCemiterios',
            'setCemiterioAdmin',
            'logout'
        ]),
        login(){
            console.log(axios.defaults.baseURL);
            axios.post('usuario/login',{email: this.email,senha: this.password}).then(res => {
                this.setUsuario(res.data.usuario)
                this.setToken(res.data.token)
                this.setCemiterios(res.data.cemiterios)
                res.data.cemiterios ?? this.setCemiterioAdmin(res.data.cemiterios[0].id)
                router.push('/')
            }).catch(error => {
                console.log(error)
                this.error = error.response.data
            })
        }
    },
    mounted: function(){
        if(this.$parent.usuario){
            this.isLogado = true;
        }

    }
}
</script>

<style  lang="scss" src="./style.scss" scoped></style>