@import '@/assets/scss/_main';
.text-title{
    font-size: 23px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}
.login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(131, 131, 131);
    .q-field{
       margin-left: 20px;
    }
    .content-login{
        margin: 20px;
        width: 400px;
        height: 450px;
        border-radius: 7px;
        border: $positive 1px;
        box-shadow: 0px 2px 5px 1px $primary;
        -webkit-box-shadow: 0px 2px 5px 1px $primary;
        -moz-box-shadow: 0px 2px 5px 1px $primary;
        header{
            margin-top: 40px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        h1{
            color: $text_bgcontent;
            font-size: 28px;
        }
       
    }

}

.q-footer{
    background-color: $secondary;
}
