

/*SubComponents*/
/*Text*/
$text_bgmain: rgb(255, 255, 255);
$text_bgcontent: rgb(66, 66, 66);
$text_bgheader: #fff;

/*Backgrounds*/
$background_main: #87f5ef;
$background_content: #b0ffa0;
$background_header:#86faa9;

$primary   : #8bf890;
$secondary : #013741;
$accent    : #ffee00;

$dark      : #1d1d1d;

$positive  : #fffb82;
$negative  : #c26700;
$info      : #54ed32;
$warning   : #cf2200;
