


@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,400&display=swap');
@import url('https://cdn.jsdelivr.net/npm/quasar@1.15.0/dist/quasar.min.css');
@import './colors';
@import './responsive';



.main{
    display: flex;
    height: 100vh;
    font-family: 'Zilla Slab', serif;
}
h1, h2, h3, h4, h5{
    font-family: 'Lato', serif;

}
.btn, p, a, li, .q-toolbar{
    font-family: 'Zilla Slab', serif;
}
.page-title{
    background-color: $secondary;
    color: #ccc;
    text-align: left;
    border-radius: 15px;
    h5{
        padding: 5px 10px;
        font-size: 16px;
    }
}
ul{
  list-style: none;
}
.btn-busca{
    background-color: $positive;
    border-radius: 15px;
    padding: 10px;
    border: solid 1px $accent;
    color: $secondary;
    font-size: 14px;
}

.btn-assoc{
    background-color: $primary;
    border-radius: 15px;
    padding: 10px;
    border: solid 1px $info ;
    color: $secondary;
    font-size: 16px;
}

.btn-submit-form{
    background-color: $secondary;
    color: #fff !important;
    border-radius: 15px;
    width: 10em;
    padding: 10px;
    border: solid 1px $background_main ;
    color: $secondary;
    font-size: 14px;
}

.btn-view{
    border: solid 1px $secondary;
}

.text-title1{
	font-size: 26px;
}
.text-subtitle1{
  	font-size: 18px;
}

.text-h6{
    font-size:14px;
    padding: 5px 9px;
    color: $secondary;
    font-family: 'Lato', serif;
}







