<template>
  <q-layout view="hHh lpR fFf">
    <Header/>
    <ListaCemiterios/>
    <Footer/>
  </q-layout>
</template>

<script>
import Footer from '../../Components/Footer';
import Header from '../../Components/Header';
import ListaCemiterios from '../../Components/Cemiterio';

export default {
    name: "PageHome",
    components: { Footer, Header, ListaCemiterios },
    data(){
      return{
        cemiteriosCadastrados: []
      }
    },
    methods: {
    },
    mounted: function(){
    },
    computed: {
    }
}
</script>


<style  lang="scss" src="./style.scss" scoped></style>