<template>
  <q-btn-dropdown color="primary" :label="cemiterio_id" dropdown-icon="change_history" v-if="cemiterios && cemiterios.length > 1">
    <q-list v-for="(cemiterio, i) in cemiterios" :key="i">
      <q-item clickable v-close-popup @click="mudarCemiterioRoot(cemiterio.id)">
        <q-item-section>
          <q-item-label>{{cemiterio.nome}}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-btn-dropdown>
  <!-- <q-select class="select-cemiterio" rounded outlined v-model="cemiterio_id" @input="mudarCemiterioRoot()" :options="options" label="Selecione o cemitério" /> -->
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  name:"CemiterioLoader",
  data () {
    return {
      cemiterio_id: null,
      cemiterios: this.$root.cemiterios
    }
  },
  methods: {
    ...mapMutations([
      'setCemiterioAdmin'
    ]),
    mudarCemiterioRoot(cemiterio_id){
      this.$root.id_cemiterio = cemiterio_id;
      this.setCemiterioAdmin(cemiterio_id);
    }
  },
  mounted: function () {
  }
}
</script>

<style>
  .select-cemiterio{
    padding: 10px;
  }
</style>