<template>
  <q-page-container>
        <div class="text-h6">Explorar Cemitérios Cadastrados</div>
        <div class="card card-cemiterios-list">
            <div class="card-body">
                <div v-for="(cemiterio, i) in cemiteriosCadastrados" :key="i" class="row">
               
                <div class="col-12">
                    <div class="row">
                        <div class="col-10">
                            <h3>{{cemiterio.nome}}</h3> 
                        </div>
                        <div class="col-2">
                            <div class="btn-group content-header" role="group">
                                <!-- <button class="btn btn-view" @click="verCemiterio(cemiterio)"><span class="material-icons">visibility</span></button>
                                <button class="btn btn-edit" @click="editarCemiterio(cemiterio)"><span class="material-icons">edit</span></button>
                                <button class="btn btn-edit" @click="listarTumulos(cemiterio)"><span class="material-icons">list</span></button> -->
                                <q-btn  size="md" flat color="info" icon="settings" > 
                                <q-menu transition-show="flip-right" transition-hide="flip-left">
                                    <q-list style="min-width: 100px">
                                        <q-item clickable @click="verCemiterio(cemiterio)">
                                            <span class="material-icons">visibility</span> Mapa
                                        </q-item>
                                        <q-item clickable @click="listarSepulturas(cemiterio)">
                                            <span class="material-icons">list</span> Supulturas
                                        </q-item>
                                    </q-list>
                                </q-menu>
                            </q-btn>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="col-12">
                    <ul>
                    <li><strong>Cidade: </strong> {{cemiterio.cidade}}</li>
                    <li><strong>Endereço: </strong> {{cemiterio.rua}}, {{cemiterio.bairro}} - {{cemiterio.numero}}</li>
                    <li><strong>Estado: </strong> {{cemiterio.estado}}</li>
                    <li><strong>Cep: </strong> {{cemiterio.cep}}</li>
                    </ul>
                </div>
                
                </div>
            </div>
            <div class="card-footer">
            
            </div>
            <Search btnCustom="true" admin="true" ref="lista"></Search>
        </div>
    </q-page-container>
</template>

<script>

import { mapMutations } from 'vuex'
import axios from 'axios';
import Search from '../../Components/Search'
export default {
    name: "ListaCemiterios",
     components: { Search },
    props: ['admin'],
    data(){
      return{
        cemiteriosCadastrados: []
      }
    },
    methods: {
        ...mapMutations([
            'setCemiterioView'
        ]),
        async listCemiterios(){
            this.modalCemiterio = true;
            const res = await axios.get('/cemiterio/')
            this.cemiteriosCadastrados = res.data;
        },
        async verCemiterio(cemiterio){
            this.setCemiterioView(cemiterio);
            this.$router.push({ path: 'map' });
        },
        async listarSepulturas(cemiterio){
            this.setCemiterioView(cemiterio);
            this.$refs.lista.modalPessoa = true;
        }


      
    },
    mounted: function(){
        this.listCemiterios();
    
    }
}
</script>

<style  lang="scss" src="./style.scss" scoped></style>