@import '@/assets/scss/_main';

.card-cemiterios-list{
    color: $text_bgcontent;
    line-height:1.1em;
    .content-header{
        position: relative;
        button{
            background-color: $secondary;
            color: #fff;
            z-index: 1;
        }
    }
    .row{
        background: #eee;
        padding: 5px;
        border-radius: 3px;
    }
    h3{
        font-size: 16px;
        font-size: 'Lato', sans-serif;
        font-weight: 400;
      
    }
    ul{
        li{
            font-size:13px;
        }
    }
}