<template>
  <q-layout view="hHh lpR fFf">
    <Header></Header>
    <q-page-container>
      <Search></Search>
      <!-- <Map  :refreshUserPoint="true" ref="map_r" :viewCemiterioInit="true"></Map> -->
      <VerFoto :foto="foto_view"></VerFoto>
      <Map  :refreshUserPoint="true" ref="localizacao"></Map>
    </q-page-container>
    <Footer/>
  </q-layout>
</template>
<script>
// import axios from 'axios';
import Footer from '../../Components/Footer'
import Map from '../../Components/Map'
import Header from '../../Components/Header'
import Search from '../../Components/Search'
import VerFoto from '../../Components/Camera/VerFoto'
export default {
  name:"TombsMap",
  components: {Footer, Map, Header, Search, VerFoto},
  props: ['sepulturas'],
  data () {
    return {
      tomb: {
        numero: null,
        referencia:null,
        geo:null,
        pessoa:null
      },
      foto_view : null,
      modalCemiterio: false,
      cemiteriosCadastrados: []
    }
  },
  methods:{
    // async send(){
    //   this.$refs.map_r.getUserLocalization();
    //   this.tomb.geo = this.$refs.map_r.locationUser;
    //   console.log(this.tomb);
    //   if(this.tomb.geo){
    //     const res = await axios.post(this.$root.base_url+'/cemetery/1',this.tomb);
    //     console.log(res)
    //   }
    // }
  },
  mounted: function(){
    
  },
   watch:{
        '$store.state.falecido_view': function() {
            if(this.$store.state && this.$store.state.falecido_view)
            this.foto_view = this.$store.state.falecido_view.sepultura[0].foto;
        }
    }
}
</script>

<style  lang="scss" src="./style.scss" scoped></style>
