<template>
    <q-layout view="hHh lpR fFr">
        <Header/>
        <q-page-container>
            <div class="q-pa-md">
                <div class="col-md-12 text-center">
                    <header class="page-title">
                        <h5 class="text-title1">Cadastro de Cemitério</h5>
                    </header>
                    <div v-if="cemiterio.place_id" >
                      <Map :cemiterio="cemiterio" viewCemiterioInit="true"></Map>
                      <button type="submit" class="btn btn-primary full-width" v-if="cemiterio.geo" @click="saveCemetery">Enviar</button>
                    </div>
                   <div v-else>
                       <div v-if="cemiteriosEncontrados==null">
                           
                            <form action="" method="post" @submit.prevent="saveCemetery" novalidate="true">
                                <div class="row">
                                  <div class="col-md-12">
                                    <q-input rounded outlined label="Nome" v-model="cemiterio.nome"/>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-2 col-xs-6">
                                    <q-input rounded outlined label="CEP" v-model="cemiterio.cep"/>
                                  </div>
                                  <div class="col-md-1 col-xs-6">
                                    <q-input rounded outlined label="Estado" v-model="cemiterio.estado"/>
                                  </div>
                                  <div class="col-md-3">
                                    <q-input rounded outlined label="Cidade" v-model="cemiterio.cidade"/>
                                  </div>
                                  <div class="col-md-3">
                                    <q-input rounded outlined label="Rua" v-model="cemiterio.rua"/>
                                  </div>
                                  <div class="col-md-3">
                                    <q-input rounded outlined label="Bairro" v-model="cemiterio.bairro"/>
                                  </div>
                                  <div class="col-md-3 col-xs-6">
                                    <q-input rounded outlined label="Numero" v-model="cemiterio.numero"/>
                                  </div>
                                  <div class="col-md-3 col-xs-6">
                                    <q-input rounded outlined label="País" v-model="cemiterio.pais"/>
                                  </div>
                                </div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary full-width"   @click="searchCemiterio()">
                                  Próximo
                                </button>
                            </form>
                       </div>
                       <div class="col-md-12" v-else>
                            <h3 class="text-subtitle1">Confirme a localização</h3>
                            <ul class="list-cemiterio">
                                <li v-for="(cemi, index) in cemiteriosEncontrados" :key="index" @click="confirmarLocalizacao(cemi)">
                                    {{cemi.display_name}}
                                </li>
                            </ul>
                       </div>
                   </div>
                    
                </div>

            </div>
        </q-page-container>
        <Footer/>
    </q-layout>
</template>

<script>
import Header from '../Components/Header';
import Footer from '../Components/Footer';
import Map from "../Components/Map";
import { mapMutations } from 'vuex'
import resquests from "../requests";
import axios from 'axios';
export default{
    name: 'CadastroCemiterio',
    components: {Footer, Header, Map},
    data(){
        return{
            cemiterio: {
                nome: null,
                cep: null,
                cidade: null,
                estado: null,
                pais: null,
                bairro: null,
                rua: null,
                descricao: null,
                numero: null,
                geo:null,
                geoJSON: null,
                place_id:null
            },
            cemiteriosEncontrados: null,
            ruaEncontrada: null
        }
    },
    methods: {
      ...mapMutations([
        'setCemiterioAdmin',
        'setCemiterioView'
      ]),
      async saveCemetery(){
          var data = this.cemiterio;
          const res = await axios.post('/cemiterio/'+ this.$root.usuario.id, data);
          if(res.data.id){
            this.setCemiterioAdmin(res.data.id);
            this.$root.alert("Cemitério cadastrado com sucesso", "success");
          }
      },
      async searchCemiterio(){
        var qCemiterio = 'Cemitério, '+this.cemiterio.cidade;
        var qEndereco = this.cemiterio.rua+', '+this.cemiterio.cidade+', '+this.cemiterio.estado;
        this.cemiteriosEncontrados = await resquests.seachOpenStreet(qCemiterio);
        this.ruaEncontrada = await resquests.seachOpenStreet(qEndereco);
      },
      confirmarLocalizacao(cemiterio){
        console.log(cemiterio)
        this.cemiterio.geo = {'latitude': cemiterio.lat, 'longitude': cemiterio.lon};
        this.cemiterio.place_id = cemiterio.place_id;
        this.cemiterio.geoJSON = cemiterio.geojson;
        this.setCemiterioView(this.cemiterio);
      }
    }
    
}
</script>

<style  lang="scss" src="./style.scss" scoped>
.q-form{
    .q-field__control-container {
        background-color: aqua;
    }
    ::before{
        margin-left: 20px;
        .q-field__label{
         
        }
     
    }
}
</style>