<template>
  <q-page-container>
      <div class="q-pa-md form-tumulo">
        <div class="col-md-12 text-center">
          <q-item-section>
              <q-item-label >{{ falecido.nome }}</q-item-label>
              <q-item-label caption>Nascimento: {{  format.formatDate(falecido.data_nascimento, 'DD/MM/YYYY') }}</q-item-label>
              <q-item-label caption>Falecimento: {{ format.formatDate(falecido.data_falecimento , 'DD/MM/YYYY') }}</q-item-label>
          </q-item-section>
          <hr>
          <header class="page-title">
            
            <h5>Cadastro de Túmulos</h5>
          </header>
          <div class="row">
            <!-- <div class="col-md-6 col-xs-12">
              <q-select rounded outlined v-model="cemiterio_selecionado" :options="cemiterios" label="Cemitério"/>
            </div> -->
            <div class="col-md-6 col-xs-6">
              <q-input rounded outlined label="N°" v-model="tumulo.numero" />
            </div>
            <div class="col-md-6 col-xs-6">
              <q-input rounded outlined label="Setor" v-model="tumulo.setor" />
            </div>
            <div class="col-md-6 col-xs-12">
              <q-input rounded outlined label="Referencia" v-model="tumulo.referencia" />
            </div>
            <q-btn-group spread class="col-md-12">
              <q-btn dense size="sm" flat color="info" label="Localização" icon="add_location" @click="modalMap = true"/>

              <!-- <q-btn dense size="sm" flat color="info" label="Foto" icon="photo" @click="abrirCamera()"/> -->

              <q-btn dense size="sm" color="info" label="Enviar" icon="send" @click="send()"/>
            </q-btn-group>
          </div>
        </div>
      </div>


         <!-- Modal MAPA - Localização do Tumulo -->
    <q-dialog v-model="modalMap"  persistent :maximized="maximizedToggle" transition-show="slide-up" transition-hide="slide-down">
      <q-card class="bg-info text-white">
        <q-bar>
          <q-space />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section>
          <div class="text-h6">Confirme a Localização</div>
        </q-card-section>
        <q-card-section class="q-pt-none" v-if="cemiterio_selecionado">
          <Map  :cemiterio="cemiterio_selecionado" :refreshUserPoint="true" ref="localizacao"></Map>
        </q-card-section>
        <q-card-actions align="center" class="text-teal">
          <q-btn dense color="secondary" class="full-width" label="Gravar Localização" @click="obterlocalizacao()" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- <Camera ref="cam"/> -->

     <!-- Modal Cadastro de Pessoa -->
    <q-dialog v-model="modalCamera"  persistent :maximized="maximizedToggle" transition-show="slide-up" transition-hide="slide-down">
      <q-card class="bg-info text-white">
        <q-bar>
          <q-space />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section>
          <div>
              <Camera ref v-model="imageBase64" />
          </div>
        </q-card-section>
    
        <q-card-actions align="center" class="text-teal">
          
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page-container>

 

</template>

<script>
import Map from "../Components/Map";
import Camera from '../Components/Camera/'

import Swal from 'sweetalert2';
import axios from "axios";
import resquests from "../requests";
import { date } from 'quasar';
export default {
  name: "FormTombs",
  props: {
    value: {
      default: null
    },
    cemiterio_selecionado: null,
    falecido: null
  },
  components: { Map, Camera },
  data() {
    return {
      modalCamera: false,
      modalMap: false,
      maximizedToggle: true,
      cemiterios: [],
      imageBase64: null,
      tumulo: {
        numero: null,
        referencia: null,
        geo: null
      },
      format: date
    };
  },
  methods: {
    async send() {
      try{
          const res = await axios.post("cemiterio/sepulturas/" + this.cemiterio_selecionado.id, this.tumulo);
          if(res.data.id){
            Swal.fire({
              title: 'Dados cadastrados com sucesso, deseja adicionar uma foto ?',
              showDenyButton: true,
              confirmButtonText: 'Sim',
              denyButtonText: `Agora não`,
            }).then((result) => {
              if (result.isConfirmed) {
                this.abrirCamera(res.data.id);
              } else if (result.isDenied) {
                Swal.fire('Finalizado!', '', 'info')
              }
            })
          }
      }catch(e){
          this.$root.alert(e.response.data, "error");
      }
    },
    async listCemiterio() {
      const res = await axios.get("cemiterio/responsavel/" + this.$root.usuario.id);
      if (res.data.length > 0) {
        res.data.forEach((element) => {
          this.cemiterios.push({
            label: element.nome,
            data: element,
          });
        });
      }
    },
    obterlocalizacao(){
      this.tumulo.geo = this.$refs.localizacao.locationUser
    },
    abrirCamera(id_tumulo){
      this.tumulo.id = id_tumulo;
      this.modalCamera = true;
    }
  },
  mounted: function () {
    this.listCemiterio();
    this.tumulo.falecido = this.falecido;
  },
  watch:{
    imageBase64: function() {
      resquests.uploadFoto(this.imageBase64, this.cemiterio_selecionado.id, this.tumulo.id);
      this.modalCamera = false;
    }
  }
};
</script>


<style  lang="scss" src="./style.scss" scoped>
</style>