<template>
     <q-layout view="hHh lpR fFr">
        <Header/>
        <q-page-container>
            <div class="q-pa-md">
                <div class="col-md-12 text-center">
                    <header class="page-title">
                        <h5 class="text-title1">Cadastro de Cemitério</h5>
                    </header>
                    <div class="row">
                        <label for="">Url .xlsx</label>
                        <input type="file" class="form-control" @change="previewFiles" accept=".csv">
                        <small>Ex: D:/arquivo.xlsx</small>
                    </div>
                    
                    <button class="btn btn-success" @click="upload()" data-toggle="modal" data-target="#modalUpload">Enviar</button>
                    <div class="modal" tabindex="-1" role="dialog" id="modalUpload">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirmar planilha</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body"  v-if="jsonData">
                                  <div class="alert alert-info" role="alert">
                                        Veja um preview da importação
                                    </div>
              
                                    <div class="table-responsive scroolling">
                                          
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                        <th  v-for="(coluna, index) in headers" :key="index"> 
                                                            <span>{{coluna}}</span>
                                                          
                                                    </th>
                                                    
                                                      
                                                </tr>
                                            </thead>
                                            <tbody v-for="(item, index) in jsonData.slice(0, 5)" :key="index">
                                                <tr>
                                                    <td v-for='(col, i) in item' :key="i">{{col.nome ? col.nome : col}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button @click="postItens()" class="btn btn-info" id="enviar_csv">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </q-page-container>
        <Footer/>
    </q-layout>
</template>

<style scoped>

</style>

<script lang="pt-br">
import Vue from 'vue'
import axios from 'axios';
import Header from '../Components/Header';
import Footer from '../Components/Footer';
export default Vue.extend({
  name: "upload",
  components: {Footer, Header},
  data () {
      return {
        arquivo: null,
        headers:null,
        jsonData :null,
        colunas:[]
      }
  },
  methods:{
     upload(){
        
        let reader = new FileReader();
        reader.onload = (e)=> {
            console.log(e)
            let rows = reader.result.split('\n');
            var result = [];
            this.headers = rows[0].split(';');
           
            console.log( this.headers)
            for(var i = 1;i < rows.length; i++){
                var obj = {}; var row = rows[i].split(';');
                 console.log(obj)
                for(var j = 0; j < this.headers.length; j++){
                    this.colunas[j]="ignorar";
                    var header = this.headers[j].replace(/\s/g, '');
                    var campo = row[j];
                    obj[header] = campo;
                    
                }
                  result.push(obj);
            }
            this.jsonData = result;
        }
        reader.readAsText(this.arquivo, 'UTF-8'); 
      },
      previewFiles(event) {
        this.arquivo = event.target.files[0];
      },
      async postItens(){
        this.jsonData.forEach(element => {
          axios.post("cemiterio/falecido/" + this.$store.state.id_cemiterio, element);
        });
        this.$root.alert('Cadastro realizado com sucesso', 'success');

      
      }
  },
  mounted: function(){

      
  }
})
</script>
