<template>
    <q-page-container>
      <div class="q-pa-md form-falecido">
        <div class="col-md-12 text-center">
          <header class="page-title">
            <h5>Cadastro de Falecidos</h5>
          </header>
          <form @submit.prevent="send">
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <q-select rounded outlined v-model="cemiterio_selecionado" :options="cemiterios" label="Cemitério"/>
              </div>
              <div class="col-md-12 col-xs-12">
                <q-input rounded outlined label="Nome" v-model="falecido.nome" />
              </div>
              <div class="col-md-6 col-xs-12">
                <q-input type="text" v-mask="'##/##/####'" rounded outlined label="Data de Nascimento" v-model="falecido.data_nascimento" />
              </div>
              <div class="col-md-6 col-xs-12">
                <q-input type="text" v-mask="'##/##/####'" rounded outlined label="Data de Falecimento" v-model="falecido.data_falecimento" />
              </div>
              <div class="col-md-6 col-xs-12">
                <q-input rounded outlined label="Local de Velório" v-model="falecido.local_velorio" />
              </div>
              <q-btn-group spread class="col-md-12">
                <q-btn type="submit" dense size="sm" color="info" label="Enviar" icon="send"/>
                <q-btn type="button" dense size="sm" color="dark" label="buscar" icon="search" @click="modalPessoa = true"/>
              </q-btn-group>
            </div>
          </form>
        </div>
      </div>
      <q-dialog v-model="modalPessoa"  persistent :maximized="true" transition-show="slide-up" transition-hide="slide-down">
        <q-card class="bg-info text-white">
          <q-bar>
            <q-space />
            <q-btn dense flat icon="close" v-close-popup>
              <q-tooltip class="bg-white text-primary">Close</q-tooltip>
            </q-btn>
          </q-bar>
          <q-card-section>
            <div class="text-h6">Cadastre ou localize para associar</div>
            <listarFalecidos v-if="this.cemiterio_selecionado" selectOption="single" ref="fl" :id_cemiterio="this.cemiterio_selecionado.id" />
          </q-card-section>
          <q-card-section class="q-pt-none" v-if="cemiterio_selecionado && cemiterio_selecionado.data">
            
          </q-card-section>
          <q-card-actions align="center" class="text-teal">
            <q-btn dense color="secondary" class="full-width" label="Vincular Pessoa"  v-close-popup @click="vincularBuscaFalecido();" />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-page-container>
</template>

<script>

import axios from "axios";
import listarFalecidos from '../Lists/listaFalecidos';
export default {
  name: "FormFalecido",
  components: { listarFalecidos },
  props: {
    value: {
      default: null
    },
  },
  data() {
    return {
      falecido: {},
      modalPessoa: false,
      cemiterio_selecionado: null,
      cemiterios: []
    }
  },
  methods: {
    async send() {
      try{
        const res = await axios.post("cemiterio/falecido/" + this.cemiterio_selecionado.id, this.falecido);
        if(res.data.id){
          this.$root.alert('Cadastro realizado com sucesso', 'success');
          this.$emit("input", res.data);
        }
      }catch(e){
          this.$root.alert(e.response.data, "error");
      }
    },
    vincularBuscaFalecido(){
      var selecionado = this.$refs.fl.selecionado[0];
      this.$emit("input", selecionado);
    },
    async listCemiterio() {
      const res = await axios.get("cemiterio/responsavel/" + this.$root.usuario.id);
      console.log(res);
      if (res.data.length > 0) {
        res.data.forEach((element) => {
          this.cemiterios.push({
            label: element.nome,
            ...element,
          });
        });
      }
      if(res.data.length == 1){
        this.cemiterio_selecionado =  this.cemiterios[0];
      }
    }
  },
  mounted: function () {
    this.listCemiterio();
  }
}
</script>

<style  lang="scss" src="./style.scss" scoped>
</style>