<template>

    <q-layout view="hHh lpR fFr">
        <Header/>
        <q-page-container>
            <div class="q-pa-md">
                <div class="col-md-12 p-4 mt-4 text-center">
                    <header >
                        <h5>Regitre-se no Tombs Map</h5>
                    </header>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-subtitle1">Usuários</h3>
                            <q-form action="" method="post" @submit.prevent="saveUser" novalidate="true">
                                <q-input rounded outlined v-model="usuario.nome"  hint="Nome de Usuário" />
                                <q-input color="accent" v-model="usuario.email" rounded outlined  type="email" hint="Email" />
                                <q-input color="accent" v-model="usuario.senha" rounded outlined  :type="isPwd ? 'senha' : 'text'" hint="Senha">
                                    <template v-slot:append>
                                        <q-icon :name="isPwd ? 'visibility_off' : 'visibility'"  class="cursor-pointer" @click="isPwd = !isPwd" />
                                    </template>
                                </q-input>
                            
                   
                                <h3 class="text-subtitle1">Empresas</h3>
                   
                                <q-input rounded outlined v-model="usuario.nome_organizacao"  hint="Orgão/Empresa Responsavel" />
                                <button type="submit" class="btn btn-primary" >Enviar</button>
                            </q-form>
                        </div>
                    </div>
                </div>
            </div>
        </q-page-container>
        <Footer/>
    </q-layout>
</template>

<script>
import Header from '../Components/Header';
import Footer from '../Components/Footer'
import axios from 'axios';
import Swal from 'sweetalert2';
export default{
    
    name: 'Register',
    components: {Footer, Header},
    data(){
        return{
            usuario:{},
            isPwd: true,
        }
    },
    methods: {
        async saveUser(){
            var data = this.usuario;
            const res = await axios.post('/usuario', data);
            if(res.status == 202)this.alert(res.data, 'error')
            if(res.status == 200)this.alert("Usuário cadastrado com sucesso!", 'success')
        },
        alert(message, status){
             var title = status == 'error' ? "Atenção!" :"Sucesso!";
             Swal.fire({
                title: title,
                text: message,
                icon: status,
                confirmButtonText: 'OK'
            })
        }
    },
    
}
</script>

<style  lang="scss" src="./style.scss" scoped></style>