@import '@/assets/scss/_main';
.list-cemiterio{
  display: inline;
  li{
	border: solid 1px #eeeeee;
	text-transform: capitalize;
	padding: 20px;
	background: #00a799;
	color: #fff;
  }
}
#mapContainer{
    height: 62vh;
}