<template>
  <q-layout view="hHh lpR fFf">
    <Header/>
    <ListaCemiterios admin="true"/>
    <Footer/>
  </q-layout>
</template>

<script>
import Footer from '../../Components/Footer';
import Header from '../../Components/Header';
import ListaCemiterios from '../../Components/Cemiterio';
export default {
    name: 'Lista',
    components: { Footer, Header, ListaCemiterios },
    data () {
    return {
      
    }
  }
}
</script>

<style  lang="scss" src="./style.scss" scoped></style>