<template>
    <q-footer elevated class="text-white">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <!-- <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg"> -->
          </q-avatar>
          <!-- TM -->
        </q-toolbar-title>
        <div class="btn-group col-">
          <button class="btn"><span class="material-icons" @click="voltar">keyboard_arrow_left</span></button>
          <!-- <button class="btn"><span class="material-icons">search</span></button> -->
          <!-- <button class="btn"><span class="material-icons">close</span></button> -->
        </div>
        
        <div v-if="!logado">
            <a href="#/register" class="text-white">Registre-se</a>
        </div>
      </q-toolbar>
    </q-footer>
</template>

<script>
export default{
    name: 'Footer',
    props:['register', 'formComplete'],
    data(){
        return{
           logado : this.$root.usuario || false
        }
    },
    methods: {
        voltar(){
          window.history.back();
        }
    }
}
</script>

<style  lang="scss" src="./style.scss" scoped></style>