<template >
    <div>
        <q-header elevated class="bg-primary text-white">
        <q-toolbar class="row">
            <button type="button" class="btn btn-primary btn-sm" @click="openMenu"><span class="material-icons">menu_open</span></button>
            <!-- <q-toolbar-title class="col-md-7">TM</q-toolbar-title> -->
            <!-- <Search class="col-8 col-md-4"/> -->
            <!-- <div class="col-6"></div>
            <div class="col-4">
                <button class="btn btn-list-cemiterios" @click="$emit('options-event')">Cemitérios</button>
            </div> -->
            <CemiterioLoader></CemiterioLoader>
        </q-toolbar>
        </q-header>
        <NavLeft ref="nav_r"/>
    </div>

</template>


<script>
import NavLeft from './NavLeft';
import CemiterioLoader from './Cemiterio/CemiterioLoader';
// import Search from './Search';
export default {
    components: {NavLeft, CemiterioLoader},
    name: 'Header',
    methods:{
        openMenu(){
            this.$refs.nav_r.left = true;
        }
    }
}
</script>

<style  lang="scss" src="./style.scss" scoped></style>