<template>
  <div id="mapContainer"></div>
</template>

<script>
import L from 'leaflet';
import 'leaflet/dist/leaflet.css';
import { mapMutations } from 'vuex';
import { date } from 'quasar'
export default {
    name: "Mapa",
    props:['pontoInicialIcone', 'refreshUserPoint', 'viewCemiterioInit'],
    data () {
      return {
        cemiterio: null,
        locationUser:{},
        gettingLocation: false,
        errorStr:null,
        mapa:null,
        userPoint: null,
        initialPoint: null,
        iconsUrl : {
            userPoint: "/img/icons/you.png",
            initialPoint: "/img/icons/initial.png",
            tumuloDefault: "/img/icons/tombs-a-24.png"
        },
      }
    },
    methods:{
        ...mapMutations([
            'setSepulturas',
            'getCemiterioView'
        ]),
        setLocationUser(latitude, longitude){
            this.locationUser.latitude = latitude;
            this.locationUser.longitude = longitude;
        },
        createdMap(){
            var position = [this.locationUser.latitude, this.locationUser.longitude];

            this.mapa = L.map('mapContainer', {
                zoomControl: false
            })
            this.mapa.setView(position, 18);
            
            L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}@2x.png?key=EePKYJcrp6iQm2fHxlCS',{
                attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
                maxZoom: 100,
                tileSize: 512,
                zoomOffset: -1
            }).addTo(this.mapa);

            L.control.zoom({
                position:'bottomright'
            }).addTo(this.mapa);
            
            L.control.scale().addTo(this.mapa);

            if(this.pontoInicialIcone) this.addInitialPoint(this.iconsUrl.initialPoint,position)
            if(this.cemiterio){
              this.addGeometriaCemiterio();
              this.changePositionView(this.cemiterio.geo);
            }
        },
        addGeometriaCemiterio(){
            var geoJson = new L.geoJSON(this.cemiterio.geoJSON)
            geoJson.addTo(this.mapa);
        },
        changePositionView(position){
          this.mapa.setView([position.latitude, position.longitude], 18);
        },
        addInitialPoint(icon, position){
            var initialIcon = new L.Icon({iconUrl: icon});
            if(this.initialPoint == null)
                this.initialPoint = L.marker(position, {icon: initialIcon}).addTo(this.mapa);
            else 
                this.initialPoint.setLatLng(position);          
        },
        addUserPoint(icon, position){
            console.log(position)
            var userIcon = new L.Icon({iconUrl: icon});
            if(this.userPoint == null)
                this.userPoint = L.marker(position, {icon: userIcon}).addTo(this.mapa);
            else 
                this.userPoint.setLatLng(position);    
                
           // this.userPoint.bindPopup(`Latitude: ${position[0]} Logintude: ${position[1]} `).openPopup();
        },
        addTombsMarker(position, falecido, foto, sepultura){
            console.log(foto)
            var tombsIcon = new L.Icon({iconUrl: this.iconsUrl.tumuloDefault});
          
            const tombsMarker = L.marker(position, {icon: tombsIcon});
            var popUpContent = `
                <h5>${falecido.nome} | <span>N°${sepultura.numero}</span></h5>
                <p>${sepultura.setor}</p>
                <small>Data Nascimento: ${date.formatDate(falecido.data_nascimento, 'DD/MM/YYYY')}</small> |
                <small>Data Falecimento: ${date.formatDate(falecido.data_falecimento, 'DD/MM/YYYY')}</small>`;

            tombsMarker.bindPopup(popUpContent).openPopup();
            tombsMarker.addTo(this.mapa);
            tombsMarker.setLatLng(position);
        },
        fetchData() {
            if (!("geolocation" in navigator)) {
                this.errorStr = "Geolocation is not available.";
                return;
            }
            navigator.geolocation.watchPosition(pos => {
                    /* Caso componente seja chamado para visualizar o cemitério, visão será aberta a partir do cemitério*/
                    const { latitude, longitude } = 
                    (this.cemiterio && this.viewCemiterioInit) 
                    ? this.cemiterio.geo 
                    : pos.coords;
    
                    this.setLocationUser(latitude, longitude)

                    /* Certifica que o mapa seja incluido somente uma vez */
                    if(this.gettingLocation == false)  
                        this.createdMap();
                        this.gettingLocation = true;
                    
                    /* Atualiza a marcação do usuário */
                    if(this.refreshUserPoint)
                        this.addUserPoint(this.iconsUrl.userPoint,[ latitude, longitude ]);
                    
                },
                err => {
                    console.warn(err)
                }, {
                    enableHighAccuracy: true,timeout: 27000,maximumAge: 30000 ,desiredAccuracy: 500, frequency: 1 
                }
            );
        },
        actionFoto(){
            console.log("actionFoto")
        }
    },
    mounted: function(){
        // var options = {enableHighAccuracy: true,timeout: 5000,maximumAge: 0,desiredAccuracy: 0, frequency: 1 };
        // navigator.geolocation.watchPosition(this.onSuccess, this.onError, options)
        
       // this.getUserLocalization();
      this.cemiterio = this.$store.state.cemiterio_view
      this.fetchData();
       
      
    },
    watch:{
        '$store.state.falecido_view': function() {
            const { sepultura, ...falecido } = this.$store.state.falecido_view;
            console.log(sepultura)
            const { geolocalizacao, foto, numero, referencia, setor } = sepultura[0];
            const { latitude, longitude } = geolocalizacao;

            this.addTombsMarker([ latitude, longitude ], falecido, foto, {numero, referencia, setor});
            // this.$store.state.falecido_view.forEach(tombs => {
            //     console.log(tombs);
            //     // const { latitude, longitude } = tombs.geolocalizacao;
            //     // this.addTombsMarker([ latitude, longitude ], tombs.falecido[0]);
            // });
           
        }
    }
}
</script>

<style  lang="scss" src="./style.scss" scoped></style>