<template>
  <div class="container">
    <div id="mapContainer"></div>
  </div>

</template>

<script>
import L from 'leaflet';
import 'leaflet/dist/leaflet.css';
import 'leaflet-draw/dist/leaflet.draw.css';
//import * as esri from "esri-leaflet"
import "leaflet-draw"
import '@geoman-io/leaflet-geoman-free';
import '@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css';

export default {
  name: "MapaEditavel",
  data () {
    return {
      locationUser:null,
      gettingLocation: false,
      errorStr:null,
      mapa:null,
      userPoint: null,
      initialPoint: null
    }
  },
  methods:{
    init(){
      if (!("geolocation" in navigator)) {
        this.errorStr = "Geolocation is not available.";
        return;
      }

      navigator.geolocation.getCurrentPosition(pos => {
            console.log(pos)
            this.locationUser = pos.coords;

            if(this.gettingLocation == false)
              this.createdMap();
            this.gettingLocation = true;

           // var position = [this.locationUser.latitude, this.locationUser.longitude];

            //this.addUserPoint('/img/icons/you.png',position);
          },
          err => {
            console.log(err)
          }

      );
    },
    createdMap(){
      var position = [this.locationUser.latitude, this.locationUser.longitude];
      var map = L.map('mapContainer').setView(position, 13);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      map.pm.addControls({
        position: 'topleft',
        drawMarker: false,
        drawPolygon: true,
        editPolygon: true,
        drawPolyline: false,
        deleteLayer: true,
      });


      map.pm.Toolbar.createCustomControl({name:"alertBox",block: "custom",className: "leaflet-pm-icon-marker xyz-class",title: "Count layers",onClick: ()=>{alert("There are "+L.PM.Utils.findLayers(map).length+" layers on the map")},toggle: false});


// Copy Geoman Draw Control
      const _actions = [{text: "Custom message, with click event",onClick(e){ e.preventDefault(); alert('click');}, name: 'actionName'}];
      map.pm.Toolbar.copyDrawControl("Rectangle", {name:"RectangleCopy",block: "custom",title: "Display text on hover button",actions: _actions});
      map.pm.Draw.RectangleCopy.setPathOptions({color :'green'});

      map.pm.Toolbar.changeControlOrder(["RectangleCopy"])


      map.on('pm:actionclick',function (e) {
        console.log(e)
      })
      map.on('pm:buttonclick',function (e) {
        console.log(e)
      })
     /* map.on('pm:drawstart', ({ workingLayer }) => {
        workingLayer.on('pm:snapdrag', e => {
          console.log(e);
        });
        workingLayer.on('pm:vertexadded', e => {
          console.log(e);
        });
      });*/
      map.on('pm:create', e => {
        const layer = e.layer
        console.log(layer.getLatLngs());
        var seeArea = L.GeometryUtil.geodesicArea(layer.getLatLngs()[0]);
        console.log(seeArea);
      });
     /* map.on('pm:drawend',function (e) {
        console.log(e)
      })*/

      /*map.on("click", function(e){
         L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);
      })*/
    }
  },
  mounted: function(){

    //this.getEndereco();
  }
}
</script>

<style  lang="scss" src="./style.scss" scoped></style>