<template>
    <q-drawer show-if-above v-model="left" side="left" bordered class="navleft">
        <div class="q-pa-md">
            <q-list dark padding bordered class="rounded-borders"> 
              <q-expansion-item icon="perm_identity" label="Configurações do usuário">
                <q-card class="bg-grey-9">
                  <q-card-section>
                    <div class="groupitem">
                      <router-link to="/login" class="navitem">Login</router-link>
                      <a @click="this.$root.logout">Logout</a> 
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
              <q-item clickable><router-link to="/" class="navitem">Mapa</router-link></q-item>
              <q-expansion-item label="Cemitério" v-if="permissao == 'EMP'">
                <q-card class="bg-grey-9">
                  <q-card-section>
                    <div class="groupitem">
                      <q-item clickable><router-link to="/cemiterio" class="navitem">Cadastro de Cemitério</router-link></q-item>
                      <q-item clickable><router-link to="/tumulo" class="navitem">Cadastro de Túmulos</router-link></q-item>
                      <!-- <q-item clickable><router-link to="/falecido" class="navitem">Cadastro de Falecidos</router-link></q-item> -->
                      <q-item clickable><router-link to="/lista" class="navitem">Listagens e Buscas</router-link></q-item>
                      <q-item clickable><router-link to="/upload" class="navitem">Upload CSV</router-link></q-item>
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </q-list>
        </div>
    </q-drawer>
</template>

<script>

export default {
    name: 'NavLeft',
    data () {
    return {
      left: false,
      permissao: this.$store.state.permissao
    }
  }
}
</script>

<style  lang="scss" src="./style.scss" scoped></style>