<template>
  <div class="search">
      <!-- <span class="material-icons">person_search</span> -->
      <div class="input-seach-group">
       
          <q-btn round color="secondary" icon="search" @click="modalPessoa = true" v-if="!btnCustom"/>
          <q-dialog v-model="modalPessoa"  persistent :maximized="maximizedToggle" transition-show="slide-up" transition-hide="slide-down">
            <q-card class="bg-blue-1 text-black">
              <q-bar>
                <q-space />
                <q-btn dense flat icon="close" v-close-popup>
                  <q-tooltip class="bg-white text-primary">Close</q-tooltip>
                </q-btn>
              </q-bar>
              <q-card-section>
                <div class="text-h6">Localize o falecido ou ente querido</div>
                <input type="text" class="form-control" v-model="consulta" placeholder="Digite o nome: " >

                <q-list bordered padding   v-if="falecidos.length > 0">
                  <q-item v-for="(falecido,indice) in falecidos" :key="indice" @click="visualizarBusca(falecido)">
                    <q-item-section top avatar>
                      <q-avatar rounded>
                        <img src="/img/icons/tumulo-cristao.png">
                      </q-avatar>
                    </q-item-section>

                    <q-item-section>
                      <q-item-label color="black">{{ falecido.nome }}</q-item-label>
                      <q-item-label caption>Nascimento: {{  format.formatDate(falecido.data_nascimento, 'DD/MM/YYYY') }}</q-item-label>
                      <q-item-label caption>Falecimento: {{ format.formatDate(falecido.data_falecimento , 'DD/MM/YYYY') }}</q-item-label>
                    </q-item-section>

                    <q-item-section side top>
                      <!-- <q-btn  size="md" flat color="info" icon="settings" v-if="admin">  -->
                      <q-btn  v-if="admin" round color="primary" icon="settings"  />
                      <q-menu transition-show="flip-right" transition-hide="flip-left" v-if="admin">
                        <q-list style="min-width: 100px">
                            <q-item clickable @click="visualizarBusca()">
                                <span class="material-icons">visibility</span> Mapa
                            </q-item>
                            <q-item clickable @click="abrirCamera(falecido)">
                                <span class="material-icons">photo</span> Foto
                            </q-item>
                            <q-item clickable @click="editar(falecido)">
                                <span class="material-icons">edit</span> Editar
                            </q-item>
                        </q-list>
                      </q-menu>
                      <q-btn v-else round color="primary" icon="visibility" @click="visualizarBusca(falecido)" style="font-size: 10px; border-radius: 50%;" />
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-card-section>
        
              <q-card-actions align="center" class="text-teal">
                <!-- <q-btn dense color="secondary" class="full-width" label="Vincular Pessoa"  v-close-popup @click="vincularFalecido();" /> -->
              </q-card-actions>
            </q-card>
        </q-dialog>
      </div>

      <q-dialog v-model="modalCamera"  persistent :maximized="maximizedToggle" transition-show="slide-up" transition-hide="slide-down">
      <q-card class="bg-info text-white">
        <q-bar>
          <q-space />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section>
              <div>
                  <Camera v-model="imageBase64" />
              </div>
        </q-card-section>
    
        <q-card-actions align="center" class="text-teal">
          
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import Camera from '../Components/Camera/'

import { date } from 'quasar';
import axios from 'axios';
import { mapMutations } from 'vuex';
import resquests from "../requests";

export default {
  name: "Search",
  props:['btnCustom', 'admin'],
  components: { Camera },
  data () {
    return {
      consulta: '',
      modalPessoa: false,
      maximizedToggle: true,
      falecidos: [],
      format: date,
      imageBase64: null,
      modalCamera: null,
      falecido_edit : null
    }
  },
  methods:{
    ...mapMutations([
        'setFalecido'
    ]),
    async filtrarSepulturas(){
      try{
        if(this.consulta){
          const res = await axios.get('/cemiterio/falecido/' + this.$store.state.cemiterio_view.id + '/' + this.consulta);
          this.falecidos = res.data.length > 0 ? res.data : [];
        }else{
          this.falecidos = [];
        }
      }catch(e){
          console.log(e)
      }
    },
    visualizarBusca(falecido){
      this.setFalecido(falecido);
      this.modalPessoa = false;
    },
    abrirCamera(falecido){
      this.falecido_edit = falecido;
      this.modalCamera = true;
    }
  },
  mounted: function(){
  
  },
  watch:{
    consulta: function() {
      this.filtrarSepulturas();
    },
    imageBase64: function() {
      const { id } = this.$store.state.cemiterio_view
      resquests.uploadFoto(this.imageBase64, id, this.falecido_edit.id);
    }
  }
}
</script>


<style  lang="scss" src="./style.scss" scoped></style>