<template>
    <div>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Administração</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>Dados Do Usuário</p>
                    <li class="active">
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>

        </div>
                
    </div>
</template>

<script>
export default {
    name: 'SideBar',
    data(){
        return{

        }
    },
    methods: {
      
    }
}
</script>

<style  lang="scss" src="./style.scss" scoped></style>