@import '@/assets/scss/_main';
.q-footer{
    background-color: $secondary;
    color: #fff;
    .btn{
        color: #fff;
    }
}
#mapContainer{
    
    width:100%;
    height: 82vh;
    border-radius: 15px;
    padding: 5px;
}

.navleft{
    .q-pa-md{
        background: $secondary;
    }
    
    .navitem{
        font-size: 14px;
        color: #d4d4d4;
	  	margin-left: 20px;
	  &:hover{
		color: #fff;
	  }
    }
    .groupitem{
        text-align: center;
        a{
            margin: 20px;

        }
    }
    .teste{
        background: #000;
    }
}

//Header
.search{
    z-index: 999;

    position: absolute;
    display: flex;
    justify-content: right;
    align-items:right;
    width: 100%;
    .input-seach-group{
        display: flex;
        align-items: right;
        background: #fff;
        .form-control {
            padding: 20px;
            color: #000;
            background: transparent;
            transition: all 0.3s;
            &:hover, &:focus{
                background: rgba(0,0,0,0.5);
                color: #fff;
            }
        
        }
    }
}

.btn-list-cemiterios{
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Lato', serif;
    color: #ccc;
    font-size: 12px;
    border-bottom:solid 1px #fff;
    background: rgba(0,0,0,0.2);
    &:hover{
        background: rgba(0,0,0,0.6);
        color: #fff;
        border-color: $secondary;
    }
}

