<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { mapMutations } from 'vuex'
export default {
  name: 'App',
  data(){
      return{
        locationUser:null,
        gettingLocation: false,
        errorStr:null
      }
  },
  methods: {
     getUserLocalization(){
        //do we support geolocation
        var navigator = window.navigator;
        if(!("geolocation" in navigator)) {
            
            this.errorStr = 'Geolocation is not available.';
            return;
        }
        // get position
        navigator.geolocation.getCurrentPosition(pos => {
            console.log(pos.coords)
            this.gettingLocation = true;
            this.locationUser = pos.coords;
        }, err => {
            console.log(err)
            this.gettingLocation = false;
            this.errorStr = err.message;
        })
    },
     ...mapMutations([
      'logout'
    ])
  },
  mounted: function(){
   
  
  },
  computed: {
    ...mapState([
      'usuario'
    ])
  }
 
}
</script>

<style>

</style>