<template>
    <div id="Geo">
    </div>
</template>

<script>

export default{
    name: "Geo",
    data(){
        return{
            location:null,
            gettingLocation: false,
            errorStr:null,
        }
    },
    methods: {
        getCurrentLocalization(){
            //do we support geolocation
            var navigator = window.navigator;
            if(!("geolocation" in navigator)) {
                
                this.errorStr = 'Geolocation is not available.';
                return;
            }
          
            this.gettingLocation = true;
            // get position
            navigator.geolocation.getCurrentPosition(pos => {
                console.log(pos)
                this.gettingLocation = false;
                this.location = pos;
            }, err => {
                console.log(err)
                this.gettingLocation = false;
                this.errorStr = err.message;
            })
    
            console.log(this.location);
            navigator.geolocation.watchPosition(success);
        }
    }
    
}
</script>