<template>
  <q-layout view="hHh lpR fFr">
    <Header />
    <FormFalecido v-if="!falecido" ref="falecido" v-model="falecido"/>
    <FormSepultura v-else-if="this.cemiterio_selecionado" ref="sepultura" v-model="sepultura" :falecido="falecido" :cemiterio_selecionado="cemiterio_selecionado"/>
    <Footer />
  </q-layout>
</template>

<script>
import Header from '../../Components/Header'
import Footer from '../../Components/Footer'
import FormFalecido from "../../Forms/FormFalecido.vue"
import FormSepultura from "../../Forms/FormSepultura.vue"
export default {
    name: "sepultura",
    components: {FormFalecido, FormSepultura, Header, Footer},
    data() {
        return {
            falecido: null,
            sepultura: null,
            cemiterio_selecionado: null
        }
    },
    watch:{
        falecido: function(){
            this.cemiterio_selecionado = this.$refs.falecido.cemiterio_selecionado;
        },
    }
}
</script>

<style>

</style>