<template>
    <div>
        <sidebar />
    </div>
</template>

<script>
import Sidebar from '../../Components/Sidebar.vue'
export default {
  components: { Sidebar },
    name: 'AdminComponent',
    data(){
        return{

        }
    },
    methods: {
      
    }
}
</script>