@import '@/assets/scss/_main';

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: $background_main;
    color: #fff;
    transition: all 0.3s;
    .sidebar-header {
        padding: 20px;
        background: $background_content;
    }
    ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
        text-transform: uppercase;
        font-size: 14px;
    }
    ul p {
        color: $text_bgcontent;
        padding: 10px;
    }
    ul li a {
        color: $text_bgcontent;
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    ul li a:hover {
        color: #7386D5;
        background: #fff;
    }
    ul li.active > a, a[aria-expanded="true"] {
        color: $text_bgheader;
        background: $background_content;
    }
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: $background_content;
    }
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}