<template>
  <div class="q-pa-md">
    <q-table :selection="selectOption" :selected.sync="selecionado"   :dense="$q.screen.lt.md"  title="Lista de Falecidos" :data="rows" :columns="columns" row-key="nome" :filter="filter">
      <template v-slot:top-right>
        <q-input borderless dense debounce="300" v-model="filter" placeholder="Procurar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>
    </q-table>
  </div>
</template>
<script>
import { date } from 'quasar'
const columns = [
  { name: 'nome', required: true, label: 'Nome',align: 'left', field: 'nome', sortable: true },
  { name: 'data_nascimento', label: 'Nascimento', field: 'data_nascimento', format: val => date.formatDate(val, 'DD/MM/YYYY'), sortable: true },
  { name: 'data_falecimento', align: 'center', label: 'Falecimento', field: 'data_falecimento' , format: val => date.formatDate(val, 'DD/MM/YYYY'), sortable: true },
  { name: 'idade', label: 'Idade', field: 'idade' },
  { name: 'local_sepultamento', label: 'Loc. Sepultamento', field: 'local_sepultamento' },
  { name: 'local_velorio', label: 'Loc. Velório', field: 'local_velorio' }
]
import axios from "axios";
export default {
  props: ['selectOption', 'id_cemiterio'],
  data () {
    return {
      filter: null,
      columns,
      selecionado: [],
      rows: [],
    }
  },
  methods: {
    async listarFalecidos(){
      const res = await axios.get("cemiterio/falecido/" + this.id_cemiterio)
      this.rows =  res.data;
    }
  },
  mounted: function(){
      this.listarFalecidos();
  }
}
</script>