<template>
  <section  v-if="isValid" class="photo-capture">
    <video v-show="showVideo" ref="player" class="camera" autoplay playsinline />
    <canvas v-show="!showVideo" class="preview" ref="canvas" />
    <div class="center photo-capture-actions" >
      <button
        :class="'btn flex-center '  + buttonsClasses"
        @click.prevent="capture"
        v-if="showVideo"
       ><span class="material-icons">camera</span></button>
      <div v-else>
        <button class='btn ' @click.prevent="cancel">{{cancelBtnContent}}</button>
        <button class='btn ' @click.prevent="done">{{doneBtnContent}}</button>
      </div>
    </div>
  </section>
</template>

<script>

export default {
  name: "Camera",
  props: {
    value: {
      default: null
    },
    buttonsClasses: {
      type: String,
      default: ""
    },
    captureBtnContent: {
      default: "Capture"
    },
    cancelBtnContent: {
      default: "Cancel"
    },
    doneBtnContent: {
      default: "OK"
    },
    advanced: [{
        facingMode: "environment"
    }]
  },
  data() {
    return {
      showVideo: true,
      picture: null,
      isValid: true
    };
  },
  mounted() {
    this.videoPlayer = this.$refs.player;
    this.canvasElement = this.$refs.canvas;
    this.streamUserMediaVideo();
  },
  methods: {
    streamUserMediaVideo() {
      if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
        return;
      }
      navigator.mediaDevices
        .getUserMedia({
          video: {
            facingMode: {
              exact: 'environment'
            }
          }
        })
        .then(stream => (this.videoPlayer.srcObject = stream))
        .catch(() => {
          this.isValid = false;
        });
    },
    capture() {
      this.showVideo = false;
      this.canvasElement.width = this.videoPlayer.videoWidth;
      this.canvasElement.height = this.videoPlayer.videoHeight;

      var context = this.canvasElement.getContext("2d");
    
      context.drawImage(this.$refs.player, 0, 0);

      this.stopVideoStream();
      this.picture = this.$refs.canvas.toDataURL();
    },
    done() {
      this.$emit("input", this.picture);
      this.showVideo = true;
      this.streamUserMediaVideo();
    },
    cancel() {
      this.showVideo = true;
      this.streamUserMediaVideo();
    },
    stopVideoStream() {
      if (!(this.$refs.player && this.$refs.player.srcObject)) return;
      this.$refs.player.srcObject.getVideoTracks().forEach(track => {
        track.stop();
      });
    }
  }
};
</script>


<style  lang="scss" src="./style.scss" scoped></style>
