@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import '@/assets/scss/_main';

html,body{
  margin: 0;
  padding: 0;
  background-color: rgb(65, 65, 65);
  font-family: 'Roboto', sans-serif;
}

// Nav menu scss
#nav {
  border: 1px solid blue;
  margin: 20px auto;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items:center;
  color:rgb(167, 167, 167);
  *{
    margin: 10px;
  }
  a{
    color: rgb(167, 167, 167);
    text-decoration: none;
  }
}


//video-capture scss
.video-cap-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .stream-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .controls {
    margin: 10px;
    .btn {
      margin: 10px;
    }
  }
  .camera,
  .preview {
    object-fit: fill;
  }
  .camera {
    width: 500px;
    // filter: FlipH;
  }
  .error-video {
    font-size: 25px;
    color: #ba5151;
    margin: 10px;
  }
}


//photo-capture scss
.photo-capture {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .camera,
  .preview {
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    object-fit: fill;
  }
  // .camera {
  //   transform: scaleX(-1);
  //   filter: FlipH;
  // }
}

//loader scss
.loader {
  margin: 0 auto;
  border: 16px solid #34495e; /* Light grey */
  border-top: 16px solid #41b883; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-top: 10px;
  background-color: $secondary;
  color: #fff;
  margin: 10px;
  min-width: 65px;
  height: 65px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: #5c81a7;
    color: white;
  }
  .fas {
    font-size: 25px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.card-foto {
  position: absolute;
  z-index: 99999;
  bottom: 0;
  margin-bottom: 100px;
  margin-left: 10px;
  > span{
    font-size: 26px;
    color: #5c81a7;
  }
  img {
      border-radius: 10px;
      border: solid 1px #34495e;
  }
  .close{
    color: #a70000;
  }
}