<template>
  <div class="card-foto" >
    <span v-if="!open" class="material-icons" @click="open = true">photo_camera</span>
    <div v-if="open && foto">
        <span class="material-icons close" @click="open = false">close</span>
      <img :src="urlBase + foto" alt="" width="100" height="100" @click="modalFoto = true">

      <q-dialog v-model="modalFoto"  persistent :maximized="true" transition-show="slide-up" transition-hide="slide-down">
        <q-card class="bg-info text-white">
          <q-bar>
            <q-space />
            <q-btn dense flat icon="close" v-close-popup>
              <q-tooltip class="bg-white text-primary">Close</q-tooltip>
            </q-btn>
          </q-bar>
          <q-card-section>
            <div class="col-12">
              <q-img :src="urlBase + foto"  />
            </div>
          </q-card-section>
        
          <!-- <q-card-actions align="center" class="text-teal">
            <q-btn dense color="secondary" class="full-width" label="Vincular Pessoa"  v-close-popup />
          </q-card-actions> -->
        </q-card>
      </q-dialog>
    </div>
      
  </div>
</template>

<script>
import axios from "axios";
export default {
    props: ['foto', 'fotos'],
    data () {
    return {
      urlBase: axios.defaults.baseURL.replace('api', ''),
      open: true,
      modalFoto: false
    }
  },
  mounted: function(){
      
  }
}
</script>


<style  lang="scss" src="./style.scss" scoped></style>